body{
    background-image: linear-gradient(to right, rgb(135, 255, 195), rgb(7, 212, 248));
    font-family: "Courier New", Courier, monospace;
    margin-left: 40px;
    color: darkblue;
}


h1 {
    display: grid;
    place-items: center;
}
h3 {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}

div {
    display: inline;
} 

textarea {
    display: inline;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.267);
    border: 0cap;
    padding:20px ;
    margin-left: 20px;
    margin-top: 20px;
    color: darkblue;
    font-size: 18px
}

textarea:hover{
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.158) ;
}

button{
    margin-top: 20px;
    position: absolute;
    width: 292px;
    height: 194px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.281);
    border: 1px solid rgb(139, 139, 139);
    font-size: 70px;
    color: rgba(65, 66, 66, 0.418);
    cursor: pointer;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.712) ;
}