body {
    background: rgb(3, 3, 121);
}

.contenedor {
    position: relative;
    width: 500px;
    height: 250px;
    top: 200px;
    display: flex;
    left: 400px;
    color: white;
    font-family: cursive;
}

.posicionx {
    position: relative;
    left: 40px;
    top: 30px ;
}

.posiciony {
    position: relative;
    left: 150px;
    top: 30px;
}

.puntero {
    background: rgb(3, 3, 121);
    width: 160px;
    height: 100px;
    display: grid;
    text-align: center;
    top: 30px;
    border: 1px solid wheat;
    color: white;
}