body{
    background: rgba(218, 161, 194, 0.849);
}

.activo.contenedor2 {
    visibility: hidden;
    opacity: 0;
}

.activo.contenedor3 {
    visibility: hidden;
    opacity: 0;
}

.activo.contenedor1{
    visibility: hidden;
    opacity: 0;
}
.contenedor {
    text-align: center;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 600px;
    background: antiquewhite;
    padding-left: 20px;
    border-radius: 10px;
    
}

img{
    width: 300px;
    height: 395px;
    position: absolute;
    left: 250px;
    border: 3px solid;
}

.contenedor1{
    padding-right: 20px; 
}

.contenedor2{
    position: relative;
    top: -194px;
    color: antiquewhite;
    padding-right: 20px;
}

.contenedor3{
    position: relative;
    top: -333px;
    color: rgb(184, 64, 64);
    padding-right: 20px;
} 

button {
    height: 40px;
    width: 184px;
    gap: 0;
    margin-left: -20px;
    background: rgb(189, 189, 243);
    border: none;
}
#primero {
    border-radius: 10px 0 0 0;
}

#primero:hover {
    background: rgb(238, 18, 165);
}

#segundo:hover {
    background: rgb(238, 18, 165); 
}

#tercero {
    border-radius: 10px 0 0 0;
}

#tercero:hover {
    background: rgb(238, 18, 165); 
}

#tercero{
    padding-right: 0;
    width: 184px;
}

/* esta es la clase que le agregue al boton
cuando le das click se le agrega esta clase 
solo al boton al que se le dio click 
*/
.color {
    background: antiquewhite;
}