body {
    font-family: "Courier New", Courier, monospace;
    display: grid;
    place-items: center;
    margin-top: 17%;
}




.container {
    background-color: pink;
    padding: 15px 30px 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px black;
    position: relative;
}

input{
    width: 420px;
    border-radius: 10px ;
    height: 40px;
    border-color: black;
    font-size: 25px;
}

button{
    margin-top: 10px;
    background-color: black;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
}


:placeholder-shown{
    color: black;
    padding-left: 10px;
    background-color: transparent;
    font-size: 21px;
}


.container .copy-icon {
    position: absolute;
    right: 60px;
    top: 53%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #99999988;
    font-size: 27px;
}


#contenedor2 {
    position: fixed;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 7px;
    bottom: 10px;
    right: -100%;
    font-size: 22px;
    color: black;
    animation: slideInOut 5s forwards; 
}

.hidden {
    display: none;
}

@keyframes slideInOut {
    0% {
        right: -100%;
    }
    20% {
        right: 10px;
    }
    80% {
        right: 10px;
    }
    100% {
        right: -100%; 
    }
}