body {
    background-image: linear-gradient(135deg,purple, orange);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;    
    display: grid;
    place-items: center;
    
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.contenedor {
    margin-top: 12%;
    width: 370px;
    
}

.space {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 30px;
    background-color: rgba(248, 246, 246, 0.637);
}

#flecha {
    padding-left: 190px;
}

#contenedor2 {
    width: 350px;
    background-color: rgba(245, 245, 245, 0.637);
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.social-icons li i {
    margin-right: 10px;
    font-size: 20px;
}

#facebook {
    width: 20px;
    height: 20px;
    background-color: #1f9dbd; 
    border-radius: 50%;  
    align-items: center;
    justify-content: center;
    color: white; 
}
.social-icons li:hover {
    background-color: rgb(153, 151, 151);
    color: rgb(70, 69, 69);
    border-radius: 5px;
    margin-left: 3px;
}

.social-icons li:hover i {
    color: white;
}