body {
    background-image: linear-gradient(135deg,purple, orange);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.hidden {
    display: none;
}

.contenedor {
    display: grid;
    place-items: center;
    margin-top: 12%;
}