body{
    display: flex;
    flex-direction: column;
}

.contenedores {
    background-color: rgb(14, 218, 150);
    width: 170px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
}

